In [2]:
import pandas as pd

In [17]:

data = {'product_name':['prod1','prod2','prod3'],
        'price':[15,45,34],
        'stock_quantity':[200,3,1]}

In [18]:
df = pd.DataFrame(data)
df.head()

  product_name  price  stock_quantity
0        prod1     15             200
1        prod2     45               3
2        prod3     34               1

In [19]:
products_with_high_stock = df[df['stock_quantity'] > 50]
products_with_high_stock

  product_name  price  stock_quantity
0        prod1     15             200